openapi: 3.0.0
servers:
  - url: 'http://lifs.isas.de/mztabvalidator/rest/v1_1/'
info:
  description: This is an mzTab validation service.
  version: 1.1.0
  title: mzTab validation API.
  contact:
    email: nils.hoffmann@isas.de
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
tags:
  - name: validate
    description: mzTab validation
    externalDocs:
      description: Find out more
      url: 'https://github.com/HUPO-PSI/mzTab'
paths:
  /validatePlain:
    post:
      description: >
        Validates an mzTab file in plain text representation and reports
        syntactic, structural, and semantic

        errors.
      operationId: validatePlainMzTabFile
      tags:
        - validatePlain
      responses:
        '200':
          description: Validation Okay
          content:
            application/json:
              schema:
                type: array
                default: []
                items:
                  $ref: '#/components/schemas/ValidationMessage'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                type: array
                default: []
                items:
                  $ref: '#/components/schemas/ValidationMessage'
        '415':
          description: Unsupported content type
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          text/tab-separated-values:
            schema:
              type: string
          text/plain:
            schema:
              type: string
        description: mzTab file that should be validated.
        required: true
  /validate:
    post:
      description: >
        Validates an mzTab file in XML or JSON representation and reports
        syntactic, structural, and semantic

        errors.
      operationId: validateMzTabFile
      tags:
        - validate
      responses:
        '200':
          description: Validation Okay
          content:
            application/json:
              schema:
                type: array
                default: []
                items:
                  $ref: '#/components/schemas/ValidationMessage'
        '405':
          description: Invalid input
          content:
            application/json:
              schema:
                type: array
                default: []
                items:
                  $ref: '#/components/schemas/ValidationMessage'
        '415':
          description: Unsupported content type
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MzTab'
          application/xml:
            schema:
              $ref: '#/components/schemas/MzTab'
        description: mzTab file that should be validated.
        required: true
externalDocs:
  description: Find out more about mzTab for Metabolomics
  url: 'https://github.com/HUPO-PSI/mzTab'
components:
  schemas:
    MzTab:
      type: object
      required:
        - metadata
        - smallMoleculeSummary
        - smallMoleculeFeature
        - smallMoleculeEvidence
      properties:
        metadata:
          description: The metadata block of an mzTab file.
          $ref: '#/components/schemas/Metadata'
        smallMoleculeSummary:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/SmallMoleculeSummary'
        smallMoleculeFeature:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/SmallMoleculeFeature'
        smallMoleculeEvidence:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/SmallMoleculeEvidence'
        comment:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Comment'
    Comment:
      type: object
      required:
        - prefix
        - msg
      properties:
        prefix:
          type: string
          enum:
            - COM
          default: COM
        msg:
          type: string
        line_number:
          type: integer
          format: int32
    IndexedElement:
      type: object
      discriminator:
        propertyName: elementType
      required:
        - id
        - elementType
      properties:
        id:
          type: integer
          format: int32
        elementType:
          type: string
          default: element_type
    Metadata:
      type: object
      required:
        - prefix
        - fileDescription
        - mzTab-version
        - mzTab-ID
        - title
        - description
      properties:
        prefix:
          type: string
          enum:
            - MTD
          default: MTD
        mzTab-version:
          type: string
          example: MTD mzTab-version 1.1.0
        mzTab-ID:
          type: string
          example: MTD mzTab-ID PRIDE_1234
        title:
          type: string
          example: MTD title My first test experiment
        description:
          type: string
          example: MTD description An experiment investigating the effects of Il-6.
        study:
          $ref: '#/components/schemas/ExternalStudy'
        sample_processing:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/SampleProcessing'
        instruments:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Instrument'
        software:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Software'
        publications:
          required:
            - items
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Publication'
        contacts:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Contact'
        uri:
          type: array
          default: []
          items:
            type: string
            format: uri
        quantification_method:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Parameter'
        study_variable:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/StudyVariable'
        assay:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Assay'
        msrun:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/MsRun'
        custom:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Parameter'
        sample:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Sample'
        cv:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/CV'
        database:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Database'
        chemical_modification:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Parameter'
        small_molecule_quantification_unit:
          $ref: '#/components/schemas/Parameter'
        small_molecule_feature_quantification_unit:
          $ref: '#/components/schemas/Parameter'
        small_molecule_identification_reliability:
          $ref: '#/components/schemas/Parameter'
        id_confidence_measure:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Parameter'
        colunit_small_molecule:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/ColumnParameterMapping'
        colunit_small_molecule_feature:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/ColumnParameterMapping'
        colunit_small_molecule_evidence:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/ColumnParameterMapping'
    SmallMoleculeSummary:
      type: object
      required:
        - prefix
        - header_prefix
        - sml_id
        - smf_id_refs
      properties:
        prefix:
          type: string
          enum:
            - SML
          default: SML
          readOnly: true
        header_prefix:
          type: string
          enum:
            - SMH
          default: SMH
          readOnly: true
        sml_id:
          type: string
        smf_id_refs:
          type: array
          default: []
          items:
            type: string
        database_identifier:
          type: array
          default: []
          items:
            type: string
        chemical_formula:
          type: array
          default: []
          items:
            type: string
        smiles:
          type: array
          default: []
          items:
            type: string
        inchi:
          type: array
          default: []
          items:
            type: string
        chemical_name:
          type: array
          default: []
          items:
            type: string
        uri:
          type: array
          default: []
          items:
            type: string
            format: uri
        theoretical_neutral_mass:
          type: array
          default: []
          items:
            type: number
            format: double
        exp_mass_to_charge:
          type: number
          format: double
        retention_time_in_seconds:
          type: number
          format: double
        adduct_ions:
          type: array
          default: []
          items:
            type: string
        reliability:
          type: string
        best_id_confidence_measure:
          $ref: '#/components/schemas/Parameter'
        best_id_confidence_value:
          type: number
          format: double
        abundance_assay:
          type: array
          default: []
          items:
            type: number
            format: double
        abundance_study_variable:
          type: array
          default: []
          items:
            type: number
            format: double
        abundance_coeffvar_study_variable:
          type: array
          default: []
          items:
            type: number
            format: double
        opt:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/OptColumnMapping'
        comment:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Comment'
    SmallMoleculeFeature:
      type: object
      required:
        - prefix
        - header_prefix
        - smf_id
        - sme_id_refs
      properties:
        prefix:
          type: string
          enum:
            - SMF
          default: SMF
          readOnly: true
        header_prefix:
          type: string
          enum:
            - SFH
          default: SFH
          readOnly: true
        smf_id:
          type: string
        sme_id_refs:
          type: array
          default: []
          items:
            type: string
        sme_id_ref_ambiguity_code:
          type: integer
          format: int32
        adduct_ion:
          type: string
        isotopomer:
          $ref: '#/components/schemas/Parameter'
        exp_mass_to_charge:
          type: number
          format: double
        charge:
          type: integer
          format: int32
        retention_time_in_seconds:
          type: number
          format: double
        retention_time_in_seconds_start:
          type: number
          format: double
        retention_time_in_seconds_end:
          type: number
          format: double
        abundance_assay:
          type: array
          default: []
          items:
            type: number
            format: double
        opt:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/OptColumnMapping'
        comment:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Comment'
    SmallMoleculeEvidence:
      type: object
      required:
        - prefix
        - header_prefix
      properties:
        prefix:
          type: string
          enum:
            - SME
          default: SME
          readOnly: true
        header_prefix:
          type: string
          enum:
            - SHE
          default: SHE
          readOnly: true
        sme_id:
          type: string
        evidence_unique_id:
          type: string
        database_identifier:
          type: string
        chemical_formula:
          type: string
        smiles:
          type: string
        inchi:
          type: string
        chemical_name:
          type: string
        uri:
          type: string
          format: uri
        derivatized_form:
          $ref: '#/components/schemas/Parameter'
        adduct_ion:
          type: string
        exp_mass_to_charge:
          type: number
          format: double
        charge:
          type: integer
          format: int32
        theoretical_mass_to_charge:
          type: number
          format: double
        spectra_ref:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/SpectraRef'
        identification_method:
          $ref: '#/components/schemas/Parameter'
        ms_level:
          $ref: '#/components/schemas/Parameter'
        id_confidence_measure:
          type: array
          default: []
          items:
            type: number
            format: double
        rank:
          type: integer
          format: int32
        opt:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/OptColumnMapping'
        comment:
          type: array
          default: []
          items:
            $ref: '#/components/schemas/Comment'
    Parameter:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - name
            - value
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            cv_label:
              type: string
              default: ''
            cv_accession:
              type: string
              default: ''
            name:
              type: string
            value:
              type: string
              default: ''
    Instrument:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            instrument_name:
              $ref: '#/components/schemas/Parameter'
              example:
                - 'MTD instrument[1]-name [MS, MS:1000449, LTQ Orbitrap,]'
                - >-
                  MTD instrument[2]-name [MS, MS:1000031, Instrument model, name
                  of the instrument not included in the CV]
            instrument_source:
              $ref: '#/components/schemas/Parameter'
            instrument_analyzer:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            instrument_detector:
              $ref: '#/components/schemas/Parameter'
    SampleProcessing:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            sampleProcessing:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
      example: >-
        MTD sample_processing[1] [SEP, SEP:00173, SDS PAGE,] \ MTD
        sample_processing[2] [SEP, SEP:00142, enzyme digestion,]|[MS, …
        MS:1001251, Trypsin, ]
    ExternalStudy:
      description: >-
        An external study, holding e.g. detailed information about the study
        data and metadata. A link to an ISA-Tab file deposited at  MetaboLights
        is a good example for such a use case.
      example:
        - "MTD study-url\thttps://www.ebi.ac.uk/metabolights/MTBLS517 MTD study-id\tMTBLS517 MTD study-id-format\t[,EMBL-EBI Metabolights,https://fairsharing.org/biodbcore-000168, ] MTD study-title\tMaHPIC Experiment 04: Metabolomics from Macaca mulatta infected with Plasmodium cynomolgi B strain to produce and integrate clinical, hematological, parasitological, and omics measures of acute primary infection and relapses MTD study-version\t1.0 MTD study-format [, , ISA-Tab file,]"
      required:
        - id
        - title
        - url
        - id-format
        - version
        - format
      properties:
        url:
          type: string
          format: uri
        id:
          type: string
        id-format:
          $ref: '#/components/schemas/Parameter'
        title:
          type: string
        version:
          type: string
        format:
          $ref: '#/components/schemas/Parameter'
    Software:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          description: >-
            Software used to analyze the data and obtain the reported results.
            The parameter’s value SHOULD contain the software’s version. The
            order (numbering) should reflect the order in which the tools were
            used.
          example:
            - >-
              MTD\tsoftware[1]\t[MS, MS:1001207, Mascot, 2.3]
              MTD\tsoftware[2]\t[MS, MS:1001561, Scaffold, 1.0]
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            parameter:
              $ref: '#/components/schemas/Parameter'
            setting:
              type: array
              default: []
              description: >-
                A software setting used. This field MAY occur multiple times for
                a single software. The value of this field is deliberately set
                as a String, since there currently do not exist cvParams for
                every possible setting.
              items:
                type: string
              example:
                - >-
                  MTD software[1]-setting Fragment tolerance = 0.1 Da … MTD
                  software[2]-setting Parent tolerance = 0.5 Da
    Publication:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          description: >-
            A publication associated with this file. Several publication items
            can be given by indicating the number in the square brackets after
            “publication”. PubMed ids must be prefixed by “pubmed:”, DOIs by
            “doi:”. Multiple identifiers MUST be separated by “|”.
          example:
            - >-
              MTD publication[1] pubmed:21063943|doi:10.1007/978-1-60761-987-1_6
              MTD publication[2] pubmed:20615486|doi:10.1016/j.jprot.2010.06.008
          required:
            - publicationItems
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            publicationItems:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/PublicationItem'
    PublicationItem:
      type: object
      required:
        - type
        - accession
      properties:
        type:
          type: string
          enum:
            - doi
            - pubmed
            - url
          default: doi
        accession:
          type: string
    SpectraRef:
      type: object
      required:
        - ms_run
        - reference
      properties:
        ms_run:
          $ref: '#/components/schemas/MsRun'
        reference:
          type: string
    StringList:
      type: array
      default: []
      items:
        type: string
    Contact:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            name:
              type: string
            affiliation:
              type: string
            email:
              type: string
    Sample:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            name:
              type: string
            custom:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            id_confidence_measure:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            species:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            tissue:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            cell_type:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            disease:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            description:
              type: string
    MsRun:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - id
            - location
            - name
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            name:
              type: string
            location:
              type: string
            format:
              $ref: '#/components/schemas/Parameter'
            id_format:
              $ref: '#/components/schemas/Parameter'
            fragmentation_method:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            hash:
              type: string
            hash_method:
              $ref: '#/components/schemas/Parameter'
    StudyVariable:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - id
            - name
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            name:
              type: string
            assay_refs:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Assay'
            sample_refs:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Sample'
            quantification_value_function:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            description:
              type: string
            factors:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
    Assay:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - name
            - sample_ref
            - ms_run_ref
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            name:
              type: string
            custom:
              type: array
              default: []
              items:
                $ref: '#/components/schemas/Parameter'
            external_uri:
              type: string
              format: uri
            sample_ref:
              $ref: '#/components/schemas/Sample'
            ms_run_ref:
              $ref: '#/components/schemas/MsRun'
    CV:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - label
            - full_name
            - version
            - url
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            label:
              type: string
            full_name:
              type: string
            version:
              type: string
            url:
              type: string
              pattern: >-
                (http|ftp|https)://[\w-]+(\.[\w-]+)+([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?
    Database:
      allOf:
        - $ref: '#/components/schemas/IndexedElement'
        - type: object
          required:
            - param
            - prefix
            - version
            - url
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
            param:
              $ref: '#/components/schemas/Parameter'
            prefix:
              type: string
            version:
              type: string
            url:
              type: string
    ColumnParameterMapping:
      type: object
      required:
        - column_name
        - param
      properties:
        column_name:
          type: string
        param:
          $ref: '#/components/schemas/Parameter'
    OptColumnMapping:
      type: object
      required:
        - identifier
      properties:
        identifier:
          type: string
        param:
          $ref: '#/components/schemas/Parameter'
        value:
          type: string
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ValidationMessage:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
        message_type:
          enum:
            - error
            - warn
            - info
          default: info
        message:
          type: string
        line_number:
          type: integer
          format: int64
