<!DOCTYPE HTML>
<html html-lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head>
  <th:block th:include="fragments/html-head :: html-head"></th:block>
</head>
<body>
  <div class="container">

    <div class="row">

      <div class="container">
        <th:block th:include="fragments/nav :: nav"></th:block>
        <main role="main" class="inner cover my-3">
          <div class="card alert border-danger my-2">
            <div class="card-header text-danger">
              Error
            </div>
            <div class="card-body"><h4 class="card-title  ">Sorry... the requested resource does not exist.</h4>
              <h5 th:text="${status + ' ' + error}"></h5>
              <a class="btn btn-danger float-right" href="https://github.com/nilshoffmann/jmzTab-m/issues/new">Report issue.</a>
            </div>
          </div>
        </main>
        <th:block th:include="fragments/footer :: footer"></th:block>

      </div>

    </div>

  </div>
<th:block th:include="fragments/script-footer :: script-footer"></th:block>
</body>
</html>
