<!DOCTYPE HTML>
<html html-lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head>
  <th:block th:include="fragments/html-head :: html-head"></th:block>
</head>
<body>
  <div class="container">

    <div class="row">

      <div class="container">
        <th:block th:include="fragments/nav :: nav"></th:block>

        <main role="main" class="my-3">
          <div class="card my-2">
            <div class="card-header">
              Example files
            </div>
            <div class="card-body">
              <h4 class="card-title">Download one of these example files:</h4>
              <ul>
                <li><a href="/static/examples/mtdFile.txt" th:href="@{/examples/mtdFile.txt}">mtdFile.txt</a> (Metadata only)</li>
              </ul>
            </div>
          </div>
          <div class="card my-2">
            <div class="card-header">
              Validation
            </div>
            <div class="card-body"><h4 class="card-title">Upload your mzTab file for validation:</h4>
              <form method="POST" enctype="multipart/form-data" action="/" th:action="@{/}">
                <!--<fieldset>-->
                <div class="form-group row">
                  <label for="file" class="col-sm-5 col-form-label">mzTab File to validate</label>
                  <div class="col-sm-7 no-gutters">
                    <input id="file" name="file" type="file" th:field="*{validationForm.file}"/>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="maxErrors" class="col-sm-5 col-form-label">Maximum number of errors to report</label>
                  <input class="col-sm-7" type="text" th:field="*{validationForm.maxErrors}"/>
                </div>
                <div class="form-group row">
                  <label for="version" class="col-sm-5 col-form-label">mzTab specification version to validate against</label>
                  <select class="col-sm-7" th:field="*{validationForm.mzTabVersion}">
                    <option th:each="version : *{validationForm.allVersions}" 
                            th:value="${version}" 
                            th:text="#{${version}}">MZTab1_1</option>
                  </select>
                </div>

                <button id="validate" type="submit" class="btn btn-primary" disabled="true">Validate</button>
                <!--</fieldset>-->
              </form>
            </div>
          </div>
        </main>

        <th:block th:include="fragments/footer :: footer"></th:block>

      </div>

    </div>

  </div>
<th:block th:include="fragments/script-footer :: script-footer"></th:block>
</body>
</html>
