<!DOCTYPE  HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="mzTab online validator"/>
    <meta name="author" content="Nils Hoffmann"/>
    <!--<link rel="icon" href="../../../../favicon.ico">-->

    <title>mzTab Online Validator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <style type="text/css">#customFile .custom-file-control:lang(en)::after {  content: "Select file...";}#customFile .custom-file-control:lang(en)::before {  content: "Click me";}/*when a value is selected, this class removes the content */.custom-file-control.selected:lang(en)::after {  content: "" !important;}.custom-file {  overflow: hidden;}.custom-file-control {  white-space: nowrap;}</style>
  </head>
  <body>
    <div class="container">

      <div class="row">

        <div class="container">
          <header class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">mzTab Validator</h3>
              <!--              <nav class="nav nav-masthead">
                              <a class="nav-link active" href="#">Home</a>
                              <a class="nav-link" href="#">Features</a>
                              <a class="nav-link" href="#">Contact</a>
                            </nav>-->
            </div>
            <div th:if="${message}">
              <h2 th:text="${message}"/>
            </div>
          </header>

          <main role="main" class="inner cover">
            <h1 class="cover-heading">Validate your mzTab file.</h1>
            <div>
              <form method="POST" enctype="multipart/form-data" action="/">
                <fieldset>

                  <div class="input-group">
                    <input id="file" name="file" type="file"/>
                  </div>
                  <input type="text" th:field="*{maxErrors}"/>
                  <select th:field="*{version}">
                    <option th:each="version : ${allVersions}" 
                            th:value="${version}" 
                            th:text="${version}">MZTab1_1</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Validate</button>
                </fieldset>
              </form>
            </div>
          </main>

          <footer class="mastfoot">
            <div class="inner">
              <p>Fork me on <a href="https://github.com/nilshoffmann/jmzTab-m">GitHub</a></p>
            </div>
          </footer>
        </div>

      </div>

    </div>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap-fileselect.min.js" th:src="@{/js/bootstrap-fileselect.min.js}"></script>
    <script>
      $(function () {
        $('#file').fileselect();
      });
    </script>
  </body>
</html>
