<!DOCTYPE HTML>
<html html-lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
  <head>
  <th:block th:include="fragments/html-head :: html-head"></th:block>
</head>
<body>
  <div class="container">

    <div class="row">

      <div class="container">
        <th:block th:include="fragments/nav :: nav"></th:block>
        <main role="main" class="my-3">
          <div class="card my-2">
            <div class="card-header">
              Validation Results
            </div>
            <div class="card-body"><h4 class="card-title">Validated <span th:text="${validationFile}"/> against mzTab version <span th:text="#{${validationVersion}}"/>.</h4>
              <div th:unless="${not #lists.isEmpty(validationResults)}" class="alert alert-success" role="alert">
                <strong>Validation passed!</strong> Your file complies with the mzTab standard.
              </div>
              <div th:if="${not #lists.isEmpty(validationResults)}" class="alert alert-warning" role="alert">
                <strong>Validation failed!</strong> Your file does not comply with the mzTab standard.
              </div>
              <div>
                Showing the first <span th:text="${validationMaxErrors}"/> validation errors for each error level.
              </div>
              <table id="validationResultTable" class="table table-striped table-hover pt-1 px-0" width="100%">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Line Number</th>
                    <th scope="col">Validation Level</th>
                    <th scope="col">Validation Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="validationResult : ${validationResults}" th:classappend="${validationResult.styleClass}">
                    <td th:text="${validationResult.lineNumber}"></td>
                    <td th:text="${validationResult.level}"></td>
                    <td th:text="${validationResult.message}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-header">
              <a class="btn btn-primary float-left" href="/" th:href="@{/}">Back</a>
            </div>
          </div>
        </main>

        <th:block th:include="fragments/footer :: footer"></th:block>

      </div>

    </div>

  </div>
<th:block th:include="fragments/script-footer :: script-footer"></th:block>
</body>
</html>
